body{
    
    background-color:#00F0000;
}
canvas{
    width: 90%;
    height: 95%;
    display: block;
    margin: 0 auto;
    z-index: 0;
    background-color:black;
}

input{
    text-align:center;
}
button{
    border-radius:25%;
    color:#00FF00;
    background-color:black;
    margin:0 auto;
}